<h3>View Location Details</h3>
<div class="row">
    <label><b>Address: </b></label>
    <div>
        {{location?.street1}}{{location?.street2 ? " " + location?.street2 : ""}} <br>
        {{location?.city}}, {{location?.stateRegion}}, {{location?.country}} <br>
        {{location?.zipCode}} <br>
        {{location?.latitude ? (location?.longitude ? location?.latitude + ", " + location?.longitude : "") : ""}}
    </div>
</div>
<agm-map *ngIf="location" [latitude] = location.latitude [longitude] = location.longitude (mapClick)="onChoseLocation($event)">
    <agm-marker [latitude]=clickLocation.latitude [longitude]=clickLocation.longitude></agm-marker>

</agm-map>